
body
{
	margin:0;
}

h2
{
	text-align:center;
}
#mp{
	text-align:left;
	margin-left:10px;
}
a
{
	text-decoration:none;
	color:#FFC107;
}


#ml
{
	width:100%;
/*margin-bottom:20px;*/
margin-top:15px;
margin-left:10px;
/*margin-right:39%;*/
}

#cn
{
	width:90%;
/*margin-bottom:20px;
margin-top:20px;*/
/*margin-left:39%;*/
margin-right:20px;
}

.ligne
{
	display:flex;
	flex-direction:row;
	width:100%;
	
}
